{{ define "main" }}
{{ if .Params.deity_slug }}
    {{ $deities := where .Site.Data.divinites "slug" .Params.deity_slug }}
    {{ if gt (len $deities) 0 }}
        {{ $deity := index $deities 0 }}
        {{ if $deity }}
            <h1>Debug: {{ $deity.name }}</h1>
            <p>Title: {{ $deity.title }}</p>
            <p>Domain: {{ $deity.domain }}</p>
            {{ if $deity.continent }}
                <h2>Continent exists!</h2>
                {{ $continent := $deity.continent }}
                {{ if $continent.name }}
                    <p>Continent name: {{ $continent.name }}</p>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ else }}
    <h1>Default page</h1>
{{ end }}
{{ end }}